
header{
  z-index: 16 !important;
  background-color: #203e7e;
  color: #fff;
  padding: 0px;
  box-shadow: 0 0 0.42857rem 0 rgba(0, 0, 0, 0.2);
  .navbar-brand{
  	font-size: unset;
  	background-color: #fff;
  }
}