<header>
	<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="javascript:void(0)"><img src="assets/gft-logo.svg" alt="gft-logo" width="180px"></a>
    <button class="navbar-toggler bg-main text-white" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()" (keydown.esc)="toggleMenu()">
      <i class="material-icons">menu</i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
	</div>
  </nav>
</header>